<div class="dialogContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        Editar Produto
      </div>
    </div>

    <button mat-icon-button (click)="onNoClick()" class="modal-close-button fw-bold"
            aria-label="Close dialog" color="warn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Conteúdo com rolagem -->
  <div class="dialogContentScrollable">
<mat-card class="edit-product-card">
  <mat-card-content>
    
    <!-- Imagem -->
    <div class="image-upload-container">
      <img [src]="produtoEstabelecimento.imagem" class="preview-img" alt="Imagem do produto" />
      <label class="upload-label" for="fileInput">
        <mat-icon>upload</mat-icon> Alterar Imagem
      </label>
      <input id="fileInput" type="file" (change)="onSelectFile($event, produtoEstabelecimento)" />
    </div>

    <!-- Categoria -->
    <mat-form-field appearance="outline" class="full-width" >
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="produtoEstabelecimento.categoriaId">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                {{ categoria.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Nome -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="produtoEstabelecimento.nome" />
    </mat-form-field>

    <!-- Descrição -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descrição</mat-label>
      <textarea matInput rows="3" [(ngModel)]="produtoEstabelecimento.descricao"></textarea>
    </mat-form-field>

    <!-- Preço -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Preço</mat-label>
      <input matInput type="number" step="0.01" min="0" [(ngModel)]="produtoEstabelecimento.preco" />
    </mat-form-field>

  </mat-card-content>

</mat-card>
</div>
  <mat-card-actions class="actions">
    <button mat-raised-button color="primary" (click)="salvarProduto()">Salvar Alterações</button>
    <button mat-stroked-button color="warn" (click)="cancelar()">Cancelar</button>
  </mat-card-actions>
</div>