<div class="container-fluid">
  <div class="row">

    <!-- Coluna principal -->
    <div [ngClass]="(cartItems.length > 0 || cartItemsConfirmado.length > 0) && tamanhoJanela >= 1340 ? 'col-md-9' : 'col-md-12'">
      <div class="filterBody form-field-full">
        <div class="filter-header">
          <h3 class="filter-title">Consultar Produtos</h3>
        </div>

        <div class="row">
          <div class="col-md-12 m-b-16">
            <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
              <mat-label>Procurar</mat-label>
              <input matInput [(ngModel)]="searchText" (input)="onInputChange()"  placeholder="Água, coca, cerveja..." />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Produtos -->
      <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" *ngIf="produtosFiltrados.length > 0">
        <div
          class="col"
          *ngFor="let produto of produtosFiltrados ?? []">
          <mat-card class="produto-card h-100" 
            (dblclick)="editarProduto(produto)"
            (touchstart)="startPress($event, produto)"
            (touchend)="endPress()">

            <mat-card-content class="produto-content">
              <!-- Cabeçalho -->
              <div class="produto-header">
                <img
                  [src]="produto.imagem"
                  [alt]="produto.nome"
                  class="produto-imagem"
                />

                <div class="produto-info">
                  <h3 class="produto-nome">{{ produto.nome }}</h3>
                  <p class="produto-descricao">
                    {{ produto.descricao || 'Sem descrição disponível.' }}
                  </p>
                </div>
              </div>

              <!-- Rodapé -->
              <div class="produto-footer">

                <!-- Se o produto ainda não tem quantidade → mostra o botão "Adicionar" -->
                <button
                  *ngIf="!produto.quantidadeCarrinho || produto.quantidadeCarrinho === 0"
                  mat-raised-button
                  color="primary"
                  class="btn-adicionar"
                  (click)="addToCart(produto)"
                >
                  <mat-icon>add_shopping_cart</mat-icon>
                  Adicionar
                </button>

                <!-- Controle multifuncional de quantidade -->
                <div
                  class="mdc-button mat-mdc-button-base btn-adicionar mdc-button--raised mat-mdc-raised-button mat-primary"
                  *ngIf="produto.quantidadeCarrinho && produto.quantidadeCarrinho > 0"
                >
                  <button mat-icon-button color="warn" (click)="removeItem(produto)">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <span class="quantidade-display">{{ produto.quantidadeCarrinho }}</span>

                  <button mat-icon-button color="primary" (click)="addToCart(produto)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>

                <!-- Preço ou campo de edição -->
                <div class="preco-container" *ngIf="!produto.editando">
                  <a href="#" class="preco-valor" (click)="editPrice(produto, $event)">
                    R$ {{ produto.preco | number: '1.2-2' }}
                  </a>
                </div>

                <div class="preco-edicao" *ngIf="produto.editando">
                  <mat-form-field appearance="outline" class="campo-preco">
                    <input
                      matInput
                      type="number"
                      step="0.01"
                      min="0"
                      [(ngModel)]="produto.novoPreco"
                      placeholder="R$"
                    />
                  </mat-form-field>
                  <button mat-icon-button color="primary" (click)="confirmEdit(produto)">
                    <mat-icon>check</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="cancelEdit(produto)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>

              </div>


            </mat-card-content>
          </mat-card>
        </div>
      </div>


    </div>

    <!-- Painel lateral (somente telas grandes) -->
    <div class="col-md-3" *ngIf="(cartItems.length > 0 || pedidoFinalizado) && tamanhoJanela >= 1340">
      <ng-container *ngTemplateOutlet="painelResumoConfirmacaoPedido"></ng-container>
    </div>

  </div>
</div>


<!-- Template reutilizável -->
<ng-template #painelResumoConfirmacaoPedido>
  <div class="filterBody form-field-full cart-panel ">
    <ng-container *ngIf="!pedidoFinalizado">
      <div class="cart-header mb-3">
        <h3 class="cart-title">Resumo do Pedido</h3>
      </div>

      <div class="mb-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nome do Cliente</mat-label>
          <input matInput [(ngModel)]="clienteNome" placeholder="Nome do Cliente" />
        </mat-form-field>

          @if (estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'pedido') {
            
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Número do Pedido</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="numeroDoPedido"
                placeholder="Ex: 985632"
              />
            </mat-form-field> 

          } @else {

            <mat-form-field class="w-100" appearance="outline"
            *ngIf="(estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'quarto')
                  || (estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'mesa')">
            
              <mat-label *ngIf="estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'quarto'">Selecione o Quarto</mat-label>
              <mat-label *ngIf="estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'mesa'">Selecione a Mesa</mat-label>
              
            <input
              type="text"
              matInput
              [matAutocomplete]="auto"
              [(ngModel)]="itemAgrupadoSelecionado"
              (ngModelChange)="filtrarItensAgrupados($event)"
              (blur)="validarItemAgrupado()"
              (focus)="abrirAutocomplete()"
              placeholder="Ex: 101"
            />
            
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selecionarItemAgrupado($event.option.value)" [displayWith]="displayItemAgrupado">
              <mat-option *ngFor="let itemAgrupado of itensAgrupadosFiltrados" [value]="itemAgrupado">
                {{ itemAgrupado.nome }} 
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
          }
       
      </div>
      
      <ul class="list-group mb-3" style="padding-inline-start:5px">
        <li style="padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: 5px;"
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of cartItems">
          <div> 
            <label style="font-size: 1rem">{{ item.nome }}</label><br>
            <b>R$ {{ item.preco | number:'1.2-2' }} x {{ item.quantidadeCarrinho }}</b>
          </div>
          <div class="d-flex align-items-center">
            <button mat-icon-button (click)="incrementItem(item)" matTooltip="Adicionar">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="decrementItem(item)" matTooltip="Reduzir">
              <mat-icon>do_not_disturb_on</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="removeItem(item)" matTooltip="Remover">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>

      <div class="mt-3" style="padding-inline-start:5px">
        <h3>Total: R$ {{ getTotal() | number:'1.2-2' }}</h3>
        <button mat-raised-button color="primary" class="w-100 mt-2" (click)="finalizarPedido()">
          Finalizar Pedido
        </button>
        <button mat-raised-button color="primary" style="margin-left: 20px;" 
          class="w-100 mt-3" (click)="fecharModalResumo()" *ngIf="!isLargeScreen">
          Fechar
        </button>
      </div>
    </ng-container>
    
    <ng-container *ngIf="pedidoFinalizado">
      <div class="cart-header mb-3">
        <h3 class="cart-title">Pedido Confirmado</h3>
      </div>
      <div class="mb-3" style="padding-inline-start:5px;">
        <p><b>Cliente:</b> {{ clienteNome }}</p>

        @if(estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'mesa' ||
            estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'quarto'){

              <p>
                <b>{{ estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.rotulo }}:</b> 
                   {{ itemAgrupadoSelecionado?.nome }}
              </p>
              
        }
        <p *ngIf="(estabelecimentoCadastrado?.tipoEstabelecimento?.agrupador?.nome === 'pedido')"><b>Pedido:</b> {{ numeroDoPedido }}</p>

        <p><b>Total:</b> R$ {{ getTotalConfirmado() | number:'1.2-2' }}</p>

        <ul class="list-group" style="padding-left: 0;">
          <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let item of cartItemsConfirmado">
            <span>{{ item.nome }} (x{{ item.quantidadeCarrinho }})</span>
            <span>R$ {{ (item.preco * item.quantidadeCarrinho) | number:'1.2-2' }}</span>
          </li>
        </ul>

        <div class="d-flex align-items-center gap-2">
          <button mat-raised-button color="primary" class="w-100 mt-3" (click)="fecharPedido()">
            Fechar
          </button>
          <app-whatsapp-button [mensagem]="mensagemWhatsapp"></app-whatsapp-button>
        </div>
        
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- 🛒 Botão flutuante - visível apenas em telas pequenas -->
<button *ngIf="!isLargeScreen && cartItems.length > 0 && tamanhoJanela < 1000"
        mat-fab color="accent"
        class="floating-cart-btn"
        (click)="abrirDialogResumo()"
        [matBadge]="getTotalQuantidadeVendida()"
        matBadgeColor="warn"
        matBadgeOverlap="false"
        matBadgePosition="above after">
  <mat-icon>shopping_cart</mat-icon>
</button>

<button *ngIf="(tamanhoJanela > 1000 && tamanhoJanela < 1340) && cartItems.length > 0"
        mat-raised-button
        color="accent"
        class="floating-cart-btn-md"
        (click)="abrirDialogResumo()"
        [matBadge]="getTotalQuantidadeVendida()"
        matBadgeColor="warn"
        matBadgeOverlap="false"
        matBadgePosition="above after">
  <mat-icon class="me-2">shopping_cart</mat-icon>
  Ver Produtos
</button>
